.background{
    width:100%;
    height:100%;  /**宽高100%是为了图片铺满屏幕 */
    z-index:-1;
    position: absolute;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
#title{
    margin-bottom: 10px;
}
.login{
    width: 400px;
    height: 400px;
    margin-top: 10%;
    margin-left: 40%;
    text-align: center;
}

/deep/.el-tabs__item {
    width: 200px;
    height: 40px;
}

.login-input-top{
    margin-top: 35px;
}

.login-input-next{
    margin-top: 20px;
}

.login-input-next-button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.login-captcha-button-on{
    width: 100px;
    margin-left: 10px;
    border:none;
    cursor: pointer;
    color: #fff;
    background-color: #2d8cf0;
    border-radius: 4px;
}

.login-captcha-button-off{
    width: 100px;
    margin-left: 10px;
    border:none;
    cursor: wait;
    color: #fff;
    background-color: #808080;
    border-radius: 4px;
}

.login-button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}




