.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: #fff;
    box-shadow: 2px 2px 20px 1px;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 560px;
    height: auto;
    max-height: 600px;
}
.input,.input-first{
    display: flex;
    justify-content: center;
    height: auto;
}
.input-first{
    margin-top: 50px;
}
.input{
    margin-top: 20px;
}
.input-name{
    width: 75px;
    height: 30px;
    margin-top: 10px;
    text-align: right;
    margin-right: 10px;
}
.modal::-webkit-scrollbar{
    display:none;
}
.button{
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: center;
}