.table-menu{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.table{
    width: 100%;
}
.search-menu{
    display: flex;
    justify-content: left;
}
.search{
    width: 220px;
    display: flex;
    justify-content: left;
}
.block{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
/deep/.el-table{
    background-color: transparent;
}
/deep/.el-table tr {
    background-color: transparent;
}
/deep/.el-table th {
    background-color: transparent;
}
/deep/.el-input__inner{
    background-color: transparent;
}
/deep/.el-pager li{
    background-color: transparent;
}
/deep/.el-pager button{
    background-color: transparent;
}
