.register{
    width: 400px;
    height: 400px;
    margin-top: 200px;
    margin-left: 800px;
}

.el-tabs__item {
    width: 200px;
    height: 40px;
}

.login-input-top{
    margin-top: 35px;
}

.login-input-next{
    margin-top: 20px;
}

/*.el-tabs-content-register{
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}*/

.register-login-button{
    margin-top: 40px;
}

.register-register-button{
    margin-top: 30px;
    margin-bottom: 35px;
    overflow-y: visible;
}



