.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: #fff;
    box-shadow: 2px 2px 20px 1px;
    overflow-x:auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 950px;
    height: auto;
}
.updateRole-input,.updateRole-input-first,.menu-permission {
    display: flex;
    justify-content: left;
    margin-left: 20px;
}
.updateRole-input-first{
    margin-top: 50px;
}
.updateRole-input{
    margin-top: 10px;
}
.updateRole-input-name{
    width: 70px;
    height: 30px;
    margin-top: 10px;
    text-align: right;
    margin-right: 10px;
}
.updateRole-msg{
    height: 10px;
    font-size: 7px;
    color: crimson;
    text-align: left;
    margin-left: 268px;
    margin-top: 2px;
}
.updateRole-button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.updateRole-button-left{
    margin-right: 15px;
}
.updateRole-button-right{
    margin-left: 15px;
}
.menu-permission{
    margin-top: 15px;
}
.menu-permission-tree{
    margin-top: 9px;
}

